/server
server/trajets/__pycache__/views.cpython-313.pyc
*.pyc
/server/trajets/__pycache__
/server
server/trajets/__pycache__/views.cpython-313.pyc
server/trajets/__pycache__/views.cpython-313.pyc
*.pyc
/server/trajets/__pycache__
/server/trajets
server/trajets/__pycache__/views.cpython-313.pyc
